<!DOCTYPE html>
<html>
<head>
    <title>ブログ作成</title>
</head>
<body>
    <h1 style="text-align: center;">新規投稿記事作成</h1>
    <div style="width: 70%; margin: 0px auto;">
        <div style="margin: 60px 20px;">
            <form action="{% url 'blogs:new' %}" method="POST">{% csrf_token %}
                {{ form.as_p }}
                <button type~"submit" class="btn">保存</button>
            </form>
        </div>
        <div style="text-align: center; margin-top: 50px;">
            <a href="{% url 'blogs:index' %}">トップページに戻る</a>
        </div>
    </div>
</body>
</html>